<h2>Liste des résidences</h2>

<div>
  <input type="number" [(ngModel)]="surface" placeholder="Search by surface" (input)="filterApartmentsBySurface()">
  <button (click)="filterApartmentsBySurface()">Search</button>
  </div>
  
  

<div *ngFor="let residence of listResidences">
  <img [src]="residence.image" alt="{{ residence.name }}">
        <h3>{{ residence.name }}</h3>
        <p>{{ residence.address }}</p>
        <a [routerLink]="['/apartments', residence.id]">Détails</a>
  <div>
    <img [src]="residence.image" alt="{{ residence.name }}" width="100" height="100">
    <p>{{ residence.name }}</p>
    <p>{{ residence.address }}</p>
    <button class="btn btn-primary "(click)="showApartment(residence)">Show Apartments</button>
  </div>
</div>

<h2 *ngIf="selectedResidence">Appartements de {{ selectedResidence.name }}</h2>
<div *ngIf="apartmentsToShow.length > 0; else noApartments">
  <div *ngFor="let apartment of apartmentsToShow">
    <p>Description: {{ apartment.description }}</p>
    <p>Apartment Number: {{ apartment.appartNum }}</p>
    <p>Floor Number: {{ apartment.floorNum }}</p>
    <p>Surface: {{ apartment.surface }}</p>
    <p>Terrace: {{ apartment.terrace }}</p>
    <p>Surface Terrace: {{ apartment.surfaceTerrace }}</p>
    <p>Category: {{ apartment.category }}</p>
    <button class="like-button" (click)="addToFavorites(apartment)">
      <span class="heart-icon">&hearts;</span> Like
    </button>
  </div>
</div>
<ng-template #noApartments>
  <p>No Apartment found</p>
</ng-template>

<h2>Favorites</h2>
<ul>
  <li *ngFor="let favorite of favoritesList">
    <strong>{{ favorite.residence.name }}</strong> - {{ favorite.description }}
  </li>
</ul>